/* CSS RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
    color: #EEEEEE;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* The colors */
:root{
    --color-dark: #131515;
    --color-dark-accent: #00272B;
    --color-accent: #9AE19D;
    --color-light: #EEEEEE;
    background-color: #00272B;
}

/* headers */
h1, h2, h3, h4, h5, h6{
    font-family: "Lato", sans-serif;
    width: fit-content;
}
body{
    font-family: "Noto Sans", sans-serif;
}
h1{
    font-size: 3rem;
    color:var(--color-accent);
    text-shadow: 2px 2px 0 var(--color-dark-accent), 3px 3px 0 var(--color-light);
    padding: 0.5rem;
}
h2{
    font-size: 2rem;
    color:var(--color-light);
    text-shadow: 0 0 3px var(--color-accent);
}

/* other */
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}